<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose Create</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_thanks.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Thank you for using our website! Your video files are uninitialized with {{ name_class }}. Do you want to initialize the video files?<br><h2>Results of <h1 style="color: blue">{{ name_project }}</h1> will be returned to your email. Please check your email in a few minutes</h2></h1>
        </header>
        <div class="content">
            <p><br>
We appreciate your interest in our product and services. <br>
</p>
            <form id="create_more_class" action="/{{user_name}}/{{project_id}}/not_process/{{name_class}}" method="post">
<!--                <input name="name_user" style="display:none" value={{user_name}} >-->
<!--                <input name="num_class" style="display:none" value={{name_class}} >-->
<!--                <input name="project_id" style="display:none" value={{project_id}} >-->
                <button id="connect-btn">Create More {{ name_class }}</button></a>
            </form>

        </div>
        <footer>
            <a href="/user/{{user_name}}"><button id="back-btn">Back to home</button></a>
        </footer>
    </div>
    <script>
        const connectBtn = document.getElementById('connect-btn');
        const backBtn = document.getElementById('back-btn');
    </script>
</body>
</html>
